# DATABASE_URL="postgresql://neondb_owner:npg_onfQ2Tvmr3je@ep-hidden-lab-a1npaxcm.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"
DATABASE_URL="postgresql://neondb_owner:npg_deyoI1Ah8YQi@ep-plain-art-adsk5311.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require"
PORT=4001
JWT_SECRET="supersecret-hackathon-key"
NODE_ENV="development"